<div class="row course-row">
  <div class="col-md-12">
    <div class="course_name"><%= link_to course.name, course %></div>
    <span class="instructor_name pull-right"><%= link_to course.instructor_name, course.instructor %></span>
    <hr>
    <p><%= course.description %></p>
  </div>
</div>