
<div class="row">
  <div class="col-md-12">
    <h2 class="text-center space">Available Courses</h2>
    <table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Instructor</th>
  </tr>
  <%= render partial: 'courses/course', collection: course_listing %>
 
</table>
    
  </div>
</div>

