<div class="row">
  <div class="col-md-3"><%= image_tag 'college.png', class: 'h1-icon' %></div>
  <div class="col-md-6 course-heading">
    <h1 class="text-center">Welcome to TTS University</h1>
    <h2 class="text-center">Available Courses</h2>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <%= render partial: 'course', collection: @courses %>
  </div>
</div>

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>
  
  

  <!-- Wrapper for slides -->
  <div class="carousel-inner center-block" role="listbox">
      
    <div class="item active">
      <img src="/assets/college.jpg" height="1000" width="1500" alt="..." class="center-block">
      <div class="carousel-caption">
        The University
      </div>
    </div>
    <div class="item">
      <img src="/assets/girls_learning.jpg" height="1000" width="1500" alt="..." class="center-block">
      <div class="carousel-caption">
        The Students
      </div>
    </div>
    <div class="item">
      <img src="/assets/students_in_sun.jpg" height="1000" width="1500" alt="..." class="center-block">
      <div class="carousel-caption">
        The Rewards
      </div>
    </div>
     </div>
  </div>
