/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 body { 
  background-image: url("/assets/background.jpg"); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Montserrat', sans-serif;
  font-size: 22px !important;
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: -10px !important;
    border: 1px solid transparent;
} 

.space {
  padding-top: 50px;
}

.space-bottom {
  padding-bottom: 50px !important;
}

.container {
  background: rgb(255,255,255);
  
}

.navbar-inverse {
  padding: 40px;
}

.h1-icon {
  width:  360px;
  height: 360px;
  position: relative;
}

.course-heading h1 {
  padding-top: 1.5em;
}

a.btn.btn-primary {
  color: white !important;
  margin: 0.5em;
}

a, a:visited, a:active, a:hover {
    color: #337ab7 !important;
    text-decoration: none;
}


.new-font {
  font-family: 'Enriqueta', serif;
}

h1 {
  font-size: 2.5em !important;
}

.navbar-brand {
  font-size: 1.5em !important;
}